<div id="container">
  <div id="first" style="width: 35%">
    <h1>Details</h1>
    <p>
      <strong>Posted by:</strong>
      <%= @post.posted_by %>
    </p>
    <p>
      <strong>Name:</strong>
      <%= @post.title %>
    </p>

    <p>
      <strong>Address:</strong>
      <%= @post.address %>
    </p>

    <p>
      <strong>Price/hr:</strong>
      €<%= @post.cost %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= @post.body %>
    </p>

    <% if current_user.email == @post.email %>
      <%= link_to 'Edit', edit_parking_space_path(@post) %> |
    <% end %>
    <%= link_to 'Back', :back %>
  </div>
    
  <div id="second" style="float: left">
    <h1>Book</h1>
    <label>Start Time: </label>
    <input id="time1" type="time" onChange="getPrice(<%= @post.cost %>)"/>
    <input id="time2" type="date" onChange="getPrice(<%= @post.cost %>)"/>
    <br><br>
    <label>End Time: </label>
    <input id="time3" type="time" onChange="getPrice(<%= @post.cost %>)"/>
    <input id="time4" type="date" onChange="getPrice(<%= @post.cost %>)"/>
    
    <%= form_tag(new_parking_space_path, :method => "get") do %>
      <p><strong>Total Price: </strong><u id="totalPrice">Select a Time</u></p>
      <%= hidden_field_tag(:hiddenPrice) %>
      <%= hidden_field_tag('address', @post.address) %>
      
      <div class="input-group">  
        <%= button_tag "Book" %>   
      </div>
    <% end %>
  </div>
</div>

<script>
function defaultValues() {
    var d = new Date();
    var day = d.getDate();
    var m = d.getMonth() + 1
    if (m < 10) {
        m = '0' + m;
    }
    if (day < 10) {
        day = '0' + day;
    }
    today = d.getFullYear() + '-' + m + '-' + day;
    var h = d.getHours();
    var mi = d.getMinutes();
    if (h < 10) {
        h = '0' + h;
    }
    if (mi < 10) {
        mi = '0' + mi;
    }
    now = h + ":" + mi;
    later = (parseInt(h) + 1) + ":" + mi;
    if (later.length < 5) {
        later = '0' + later;
    }
    
    document.getElementById("time2").value = today;
    document.getElementById("time4").value = today;
    document.getElementById("time1").value = now;
    document.getElementById("time3").value = later;
}
    
function getPrice(price) {  
    var t1 = new Date(document.getElementById("time2").value + ' ' + document.getElementById("time1").value);
        
    var t2 = new Date(document.getElementById("time4").value + ' ' + document.getElementById("time3").value);
    
    var millis = t2 - t1
     
    var minutes = Math.floor((millis / (1000*60)) % 60);
    var hours   = Math.floor((millis / (1000*60*60)) % 24);
    
    totalPrice = ((price * hours) + (price * (minutes / 60))).toFixed(2);
    if (totalPrice == 'NaN' || totalPrice < 0) {
        totalPrice = "Invalid Times";
    }
    else {
        totalPrice = '€' + totalPrice;
    }
        
    document.getElementById("totalPrice").innerHTML = totalPrice;
    document.getElementById("hiddenPrice").value = totalPrice.substring(1);
}
    


document.addEventListener("turbolinks:load", function() {
  defaultValues();
  getPrice(<%= @post.cost %>);
})
</script>
