<div id="container">
  <div id="first" style="width: 35%">
    <h1>Details</h1>
    <p>
      <strong>Name:</strong>
      <%= @parking_space.name %>
    </p>

    <p>
      <strong>Address:</strong>
      <%= @parking_space.address %>
    </p>

    <p>
      <strong>Price/hr:</strong>
      €<%= @parking_space.cost %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= @parking_space.description %>
    </p>

    <% if current_user.id == @parking_space.user_id %>
      <%= link_to 'Edit', edit_parking_space_path(id: @parking_space.id) %> |
    <%= link_to 'Bookings', parking_space_bookings_path(@parking_space.id) %> | 
    <% end %>
    <%= link_to 'Back', parking_spaces_path %>
  </div>
    
  <div id="second" style="float: left">
      <h1>Make Booking</h1>
      <%= link_to '<button type="button">Book</button>'.html_safe, new_parking_space_booking_path(@parking_space.id) %>
  </div>
  
</div>
