<%= form_for [@parking_space, @booking] do %>

  <div id="second" style="float: left">
    <h1>Book</h1>

    <label>Start Time: </label>
    <%= time_select :booking, :start_time %>
    <br><%= date_select :booking, :start_time %>
      
    <br><br><label>End Time: </label>
    <%= time_select :booking, :end_time%>
    <br><%= date_select :booking, :end_time%>
      
      <br><br>
      <p><strong>Total Price: </strong><u id="totalPrice">Select a Time</u></p>
      <%= hidden_field_tag(:hiddenPrice) %>
      <%= hidden_field_tag(:parking_space_id, value=@parking_space.id) %>

      <div class="input-group">
        <%= submit_tag "Book" %>
      </div>
  </div>

<% end %>

<script>
function defaultValues() {
    var d = new Date();

    document.getElementById("booking_start_time_4i").value = d.getHours();
    document.getElementById("booking_start_time_5i").value = d.getMinutes();
    document.getElementById("booking_start_time_1i").value = d.getYear();
    document.getElementById("booking_start_time_2i").value = d.getMonth();
    document.getElementById("booking_start_time_3i").value = d.getDay();
    
    document.getElementById("booking_end_time_4i").value = d.getHours() + 1;
    document.getElementById("booking_end_time_5i").value = d.getMinutes();
    document.getElementById("booking_end_time_1i").value = d.getYear();
    document.getElementById("booking_end_time_2i").value = d.getMonth();
    document.getElementById("booking_end_time_3i").value = d.getDay();
    
    document.getElementById("booking_start_time_4i").setAttribute("onchange", function(){getPrice(<%= @parking_space.cost %>);}())
    document.getElementById("booking_start_time_5i").setAttribute("onchange", function(){getPrice(<%= @parking_space.cost %>);}())
    document.getElementById("booking_start_time_1i").setAttribute("onchange", function(){getPrice(<%= @parking_space.cost %>);}())
    document.getElementById("booking_start_time_2i").setAttribute("onchange", function(){getPrice(<%= @parking_space.cost %>);}())
    document.getElementById("booking_start_time_3i").setAttribute("onchange", function(){getPrice(<%= @parking_space.cost %>);}())
    
    document.getElementById("booking_end_time_4i").setAttribute("onchange", function(){getPrice(<%= @parking_space.cost %>);}())
    document.getElementById("booking_end_time_5i").setAttribute("onchange", function(){getPrice(<%= @parking_space.cost %>);}())
    document.getElementById("booking_end_time_1i").setAttribute("onchange", function(){getPrice(<%= @parking_space.cost %>);}())
    document.getElementById("booking_end_time_2i").setAttribute("onchange", function(){getPrice(<%= @parking_space.cost %>);}())
    document.getElementById("booking_end_time_3i").setAttribute("onchange", function(){getPrice(<%= @parking_space.cost %>);}())
}

function getPrice(price) {
    console.log("getting price");
    
    var t1 = new Date(document.getElementById("booking_start_time_2i").value + ' ' + document.getElementById("booking_start_time_3i").value + ", " + document.getElementById("booking_start_time_1i").value + " " + document.getElementById("booking_start_time_4i").value + ":" + document.getElementById("booking_start_time_3i").value + ":00");
    
    var t2 = new Date(document.getElementById("booking_end_time_2i").value + ' ' + document.getElementById("booking_end_time_3i").value + ", " + document.getElementById("booking_end_time_1i").value + " " + document.getElementById("booking_end_time_4i").value + ":" + document.getElementById("booking_end_time_3i").value + ":00");

    var millis = t2 - t1

    var minutes = Math.floor((millis / (1000*60)) % 60);
    var hours   = Math.floor((millis / (1000*60*60)) % 24);

    totalPrice = ((price * hours) + (price * (minutes / 60))).toFixed(2);
    if (totalPrice == 'NaN' || totalPrice < 0) {
        totalPrice = "Invalid Times";
    }
    else {
        totalPrice = '€' + totalPrice;
    }

    document.getElementById("totalPrice").innerHTML = totalPrice;
    document.getElementById("hiddenPrice").value = totalPrice.substring(1);
}



document.addEventListener("turbolinks:load", function() {
  defaultValues();
  getPrice(<%= @parking_space.cost %>);
})
</script>