  <div id="first" style="width: 35%">
    <h1>Details</h1>
    <p>
      <strong>Name:</strong>
      <%= @parking_space.name %>
    </p>

    <p>
      <strong>Address:</strong>
      <%= @parking_space.address %>
    </p>

    <p>
      <strong>Price/hr:</strong>
      €<%= @parking_space.cost %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= @parking_space.description %>
    </p>

    <%= link_to 'Cancel', parking_space_path(@parking_space.id) %>
  </div>

   <%= render 'form', booking: @booking %>
