  <div id="first" style="width: 35%">
    <h1>Details</h1>
    <p>
      <strong>Name:</strong>
      <%= @parking_space.name %>
    </p>

    <p>
      <strong>Address:</strong>
      <%= @parking_space.address %>
    </p>

    <p>
      <strong>Price/hr:</strong>
      €<%= @parking_space.cost %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= @parking_space.description %>
    </p>

    <%= link_to 'Cancel', parking_space_path(@parking_space.id) %>
  </div>

   <%# <%= form_for[@parking_space, @booking], parking_space_booking_path(@booking), method: :post do |f| %>

   <%= render 'form', booking: @booking %>

<script>
function defaultValues() {
    var d = new Date();
    var day = d.getDate();
    var m = d.getMonth() + 1
    if (m < 10) {
        m = '0' + m;
    }
    if (day < 10) {
        day = '0' + day;
    }
    today = d.getFullYear() + '-' + m + '-' + day;
    var h = d.getHours();
    var mi = d.getMinutes();
    if (h < 10) {
        h = '0' + h;
    }
    if (mi < 10) {
        mi = '0' + mi;
    }
    now = h + ":" + mi;
    later = (parseInt(h) + 1) + ":" + mi;
    if (later.length < 5) {
        later = '0' + later;
    }

    document.getElementById("time2").value = today;
    document.getElementById("time4").value = today;
    document.getElementById("time1").value = now;
    document.getElementById("time3").value = later;
}

function getPrice(price) {
    var t1 = new Date(document.getElementById("time2").value + ' ' + document.getElementById("time1").value);

    var t2 = new Date(document.getElementById("time4").value + ' ' + document.getElementById("time3").value);

    var millis = t2 - t1

    var minutes = Math.floor((millis / (1000*60)) % 60);
    var hours   = Math.floor((millis / (1000*60*60)) % 24);

    totalPrice = ((price * hours) + (price * (minutes / 60))).toFixed(2);
    if (totalPrice == 'NaN' || totalPrice < 0) {
        totalPrice = "Invalid Times";
    }
    else {
        totalPrice = '€' + totalPrice;
    }

    document.getElementById("totalPrice").innerHTML = totalPrice;
    document.getElementById("hiddenPrice").value = totalPrice.substring(1);
}



document.addEventListener("turbolinks:load", function() {
  defaultValues();
  getPrice(<%= @parking_space.cost %>);
})
</script>
