<h1>Payment</h1>
<%= form_tag charges_path do %>
  <article>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>
    <label class="amount">
      <span><strong>Amount: €</strong><%= @price %></span>
    </label>
    <br>
  </article>
  <%= hidden_field_tag(:hiddenPrice) %>
  <%= hidden_field_tag(:hiddenPrice2) %>
  <%= hidden_field_tag(:booking, value = @booking) %>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="<%= @address %>"
          data-amount="<%= @price.to_f * 100 %>".split('.').join(' ')
          data-locale="auto"></script>

  <br><br>
  <%= link_to 'Cancel', :back %>
<% end %>

<script>
function defaultValues() {
    document.getElementById("hiddenPrice").value = parseFloat(<%= @price %>) * 100;
    document.getElementById("hiddenPrice2").value = <%= @price %>;
}
    
document.addEventListener("turbolinks:load", function() {
  defaultValues();
})
</script>